:root{
    --primary-color: #567bd1;
    --secondary-color: #4563ab;
    --terciary-color: #6490f5;
    --fourth-color: #344b80;
    --fifth-color: #243357;
}

* {
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 15px;
}

.container{
    min-width: 350px;
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
}

.header{
    min-height: 120px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.header h1{
    font-size: 2.5rem;
}

.main-container{
    display: flex;
}

.main-container main{
    background-color: #6490f5;
    width: 70%;
    min-height: 400px;
}

.main-container aside {
    background-color: #6477a3;
    width: 30%;
    min-width: 200px;
}

footer {
    display: flex;
    height: 80px;
}

.footer-right {
    width: 50%;
    background-color: #243357;
    padding-right: 12px;
}

.left-title {
    font-size: 1.2rem;
}

.left-info {
    font-weight: 300;
}

.left-info ul{
    list-style-type: none;
}

.left-info span{
    font-weight: 500;
}

.footer-left {
    padding-left: 12px;
    width: 50%;
    background-color: #87a1dd;

}